#card_img{
    margin-top: 30px;
}
#card_img .card_one{
    background-color: rgb(255, 255, 255);
}
#card_img .card_one .titre{
    color:var(--btn_blue);
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left:  20px;

}
#card_img .card{
    display: grid;
    grid-template-columns: repeat(12,1fr);
     gap: 30px;
}
 #card_img .card_one .icone_img{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding:  0 20px;
    
}
#card_img .card_container_one .card_one .icone_img{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}
#card_img .card_container_one  .card_one  .left_icone{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
#card_img .card_container_two .card_one .icone_img{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}
#card_img .card_container_two .card_one  .left_icone{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
#card_img .card_container_tree .card_one .icone_img{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}
#card_img .card_container_tree  .card_one  .left_icone{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
#card_img .card_container_four .card_one .icone_img{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}
#card_img .card_container_tree  .card_one  .right_detail{
    display: flex;
    justify-content: right;
   
}

#card_img .card_container_four  .card_one  .left_icone{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
#card_img .card_container_four  .card_one  .right_detail{
    display: flex;
    justify-content: right;

   
}

#card_img  .card_one  .right_detail  .lien_detail{
    display: flex;
    text-decoration: none;


}
#card_img   .card_one  .right_detail  .lien_detail span{
    color: var(--red);
    margin-left: 8px;
}


/* #card_img .card_container_two .card_one .card_description{
    display: flex;
    justify-content:space-between;
    align-items: center;
} */
/* #card_img .card_container_two  .card_one .icone_img .icone{
    display: flex;
    justify-content: left;
}

#card_img .card_container_two .card_one .icone_img .card_detail{
    display: flex;
    justify-content: right; 
}

*/
#card_img  .card_one .right_detail .detail{
    color: var(--red);
}


 #card_img .card  img{
     width: 100%;
    height: 100%;
    display: block;
    max-height: 330px; 
}

#card_img .card .card_container_one{
grid-column-end: span 6;
}
#card_img .card .card_container_two{
    grid-column-end: span 6;
}
#card_img .card .card_container_tree{
    grid-column-end: span 6;
}
#card_img .card .card_container_four{
    grid-column-end: span 6;
    
}

@media (max-width: 426px) {
    #card_img .card .card_container_one{
        grid-column-end: span 12;
        }
        #card_img .card .card_container_two{
            grid-column-end: span 12;
        }
        #card_img .card .card_container_tree{
            grid-column-end: span 12;
        }
        #card_img .card .card_container_four{
            grid-column-end: span 12;
            
        }
        #card_img .card_container_one .card_one .icone_img{
            align-items: center;
        }
   
    }
  
   

  
  @media (max-width: 768px) {
    /* tablet */
    #card_img .card .card_container_one{
        grid-column-end: span 12;
        }
        #card_img .card .card_container_two{
            grid-column-end: span 12;
        }
        #card_img .card .card_container_tree{
            grid-column-end: span 12;
        }
        #card_img .card .card_container_four{
            grid-column-end: span 12;
            
        }
    }
    

  
    
  
  
  @media (max-width: 992px) {
  }
  

/* #footer_one .col_four .btn {
  
    background-color: var(--btn_blue);
   
} */
